
h1 { text-align: center; }

body { background-color: black; }

#engine-title { color: #ff3300; }
#killerwave-title { color: #f52ca5; }
#volcano-title { color: #ff3300; }
#dissertation-title { color: #00a6ff; }
#itinery-title { color: #00a6ff; }
#three_ten-title { color: #2e0aad; }

/* Blurred image background image properties */
.background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  /* Full height */
  height: 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(4px);
}

#physicsBackground { background-image: url("images/Physics_Engine_2.jpg"); }
#killerwave-background { background-image: url("images/Vaporwave_design_3.jpg"); }
#volcano-background { background-image: url("images/VolcanoScene.png"); }
#dissertation-background { background-image: url("images/Dissertation_2D_2.jpg"); }
#itinery-background { background-image: url("images/itinery.png"); }
#three_ten-background { background-image: url("images/3_10.jpg"); }

/* Place content on top of the image */
.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Dropdowns */
.dropdowns {
  padding: 1%;
  max-width: 840px;
  margin: auto;
  margin-bottom: 2.5%;
  opacity: 0.9;
  border-radius: 5px;
}

#engine-dropdowns { background-color: #5c821a; }
#kw-dropdowns { background-color: #f52ca5; }
#volcano-dropdowns { background-color: #ff3300; }
#dissertation-dropdowns { background-color: #00a6ff; }
#itinery-dropdowns { background-color: #00a6ff; }
#three_ten-dropdowns { background-color: #1a075e; }

/* Span Color highlights */
#engine-dropdowns > .drop-content > p > span{ color: #0f1b07; }
#kw-dropdowns > .drop-content > p > span{color: #3ae6f2; }
#volcano-dropdowns > .drop-content > p > span{color: #ffbb1c; }
#dissertation-dropdowns > .drop-content > p > span{color: #0c646e; }
#itinery-dropdowns > .drop-content > p > span{color: #0c646e; }
#three_ten-dropdowns > .drop-content > p > span{color: #f500ab; }

#three_ten-dropdowns > .drop-content > p > a{color: #f500ab; }
#volcano-dropdowns > .drop-content > p > a{color: #ffbb1c; }

.dropdown-header {
  background-color: inherit;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.drop-content {
  display: none;
  overflow: hidden;
}

/* Youtube video*/
.embededVideo {
  display: block;
  margin: auto;
  margin-bottom: 2.5%;
  border-style:none;
}

/* Spec Table properties*/
#specsTable {
  padding: 2%;
  border-radius: 5px;
}

td {
  color:white;
  padding-left: 10px;
}

.table-title {
  font-weight: bold;
  font-size: 20px;
}
